<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Informacion de Carrera</h1>
    <h2>{{ carrera }}</h2>
    <table>
        <tr>
            <td>Nombre</td>
            <td>{{ carrera.nombre }}</td>
        </tr>
        <tr>
            <td>Facultad</td>
            <td>{{ carrera.facultad }}</td>
        </tr>
        <tr>
            <td>Codigo</td>
            <td>{{ carrera.codigo }}</td>
        </tr>
        <tr>
            <td>Facultad</td>
            <td>{{ carrera.facultad}}</td>
        </tr>
        <tr>
            <td>Titulo</td>
            <td>{{ carrera.titulo }}</td>
    </table>

</body>
</html>